* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Roboto';
  scroll-behavior: smooth;
  
  
}

header{
    width: 100%;
    position: fixed;
    box-shadow: 0 0.5px 7px  rgba(0, 0, 0, 0.351);
    background-color: rgba(255, 255, 255, 0.581);
    backdrop-filter: blur(10px);
    border-color: white;
     z-index: 9999;
}
.content{
    justify-content: space-between;
    display: flex;
    padding:2rem 25%;
    align-items: center;
}
.logo{
    font-size: 1.7rem;
    font-weight: 900;
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    background-clip: text;
    color: transparent;
}

.menu-toggle{
    display: none;
    cursor: pointer;
}

.navbar{
    display: flex;
}
.navbar a{
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

section{
  min-height: 100vh;
  
}
.home{
    padding: 15rem 10% 0 10%;
}
.home-content{
    display: flex; 
    
    gap: 10rem; 
    align-items: center
    
}
.intro{
    text-align: right;
    align-items: center;
}

.intro h1{
    font-size:5rem;
   
}
.intro span{
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    background-clip: text;
    color: transparent;
    
}
.intro h3{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    

}

.intro p{
    font-size:1.3rem ;
    margin-bottom: 2rem;
}

.home-content img{
    width: 60vh;
    border-radius: 50%;
    
}
.social-icons{
    margin-top: 2.5rem;
    
    
}
.social-icons a{
   
    font-size: 2rem;
    border: 3px solid black;
    color:  rgb(138, 74, 10);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    margin-left: 1rem;
    border-color: rgb(138, 74, 10);
    box-shadow: 1px 1px 0px black;
   
    
    }

.buttons button{
    margin-top: 5rem;
    padding: .8rem 2.5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    border-radius: 50rem;
    font-weight: 700;
    background:  rgb(138, 74, 10);
    border: 3px solid rgb(138, 74, 10);
    color:  white;
}
.highlights{
    padding:8rem 25%;
}
.highlights-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.highlights-content li{
    border: 3px solid rgb(138, 74, 10);
    width: 18rem;
    height: 20rem;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 2rem;
}

.highlights-content img{
  
  width: 5rem;
  height: 5rem;
  margin: 2rem;
}

.highlights h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom:  6rem;
    font-weight: 700;
    text-align: justify;

}

.projects{
    padding: 8rem 25%;
}

.projects-content h1{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    font-weight: 700;
    font-size: 4rem;
}
.projects-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    
}

.projects-content li{
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    width: 29rem;
    height: 35rem;
    border-radius: 2rem;
    list-style-type: none;
    text-align: center;
    padding: 0 2rem;
    font-size: 1rem;
    color: white
    
}

.projects-content p{
    text-align: justify;
    text-shadow: 2px 2px 0 black;
}

.projects-content h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 0 black;
}

.projects-content span{
    font-weight: 700;
}

.carousel-inner img{
    width: 25rem;
  height: 15rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.education{
    
    padding: 8rem 20%;
    

}
.education h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom:  7rem;
    font-weight: 700;
}
.education-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    
}



.education-content img{
    width: 50vh;
    border-radius: 50%;
    
    
}

.grad-info{
    border-left:5px solid rgb(182, 121, 6) ;
}

.education-content li{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2rem;
   
}

.education-content i{
    margin-right: 3rem;
    font-size: 3rem;
}

.education-content p{
    font-size: 1.3rem;
}

.achievements{
    
    padding: 8rem 25%;
}

.achievements h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom:  7rem;
    font-weight: 700;
}

.achievements-content{
    display: flex;
    justify-content: center;
}
.achievements-content li{
    border: 4px solid rgb(138, 74, 10);
    width: 25rem;
    height: 30rem;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 2rem;
    margin: 0 2rem 2rem 2rem;
}

.achievements-image img{
    width: 25rem;
  height: 15rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 4px solid rgb(138, 74, 10);
}

.achievements-content h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.achievements-content p{
    font-size: 1rem;
    text-align: justify;
}

.achievements-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media (max-width: 767px){
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Roboto';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header{
    width: 100%;
    position: fixed;
    box-shadow: 0 0.5px 7px  rgba(0, 0, 0, 0.351);
    background-color: rgba(255, 255, 255, 0.581);
    backdrop-filter: blur(10px);
    border-color: white;
     z-index: 9999;
}
.content{
    justify-content: space-between;
    display: flex;
    padding:.5rem 10%;
    align-items: baseline;
}
.logo{
    font-size: 1.3rem;
    font-weight: 900;
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    background-clip: text;
    color: transparent;
}

.menu-toggle{
    display: none;
    cursor: pointer;
    
}
.navbar{
    display: none;
}

.navbar a{
   
    padding: 0 .4rem;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: .6rem;
}


section{
  min-height: 100vh;
  
}
.home{
    padding: 7rem 10% 0 10%;
}
.home-content{
    display: flex; 
    flex-direction: column-reverse;
    gap: 1.5rem; 
    align-items: center

}
.intro{
    text-align: center;
    align-items: center;
}

.intro h1{
    font-size:3rem;
    font-weight: 700;
   
}
.intro span{
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    background-clip: text;
    color: transparent;
    
}
.intro h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;

}

.intro p{
    font-size:1.1rem ;
    
    
}

.home-content img{
    width: 20rem;
    border-radius: 50%;
    
}
.social-icons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}
.social-icons a{
   
    font-size: 1.5rem;
    border: 3px solid black;
    color:  rgb(138, 74, 10);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    margin-left: 1rem;
    border-color: rgb(138, 74, 10);
    box-shadow: 1px 1px 0px black;

    }

.buttons button{
    margin-top: 3rem;
    padding: .8rem 2.5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    border-radius: 50rem;
    font-weight: 700;
    background:  rgb(138, 74, 10);
    border: 3px solid rgb(138, 74, 10);
    color:  white;
}
.highlights{
    padding:5rem 10% 0rem 10%;
    
}
.highlights-content ul{
    display: flex;
    justify-content: center;
    
    gap: 2rem;
    flex-wrap: wrap;
}

.highlights-content li{
    border: 3px solid rgb(138, 74, 10);
    width: 9rem;
    height: 13rem;
    
    list-style-type: none;
    text-align: center;
    font-size: .7rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 2rem;
}

.highlights-content img{
  
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.highlights h1{
    
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom:  3rem;
    font-weight: 700;
    text-align: center;
    align-self: center;
    justify-self: center;

}

.projects{
    padding: 5rem 10%;
}

.projects-content h1{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4rem;
}
.projects-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    
}

.projects-content li{
    background: linear-gradient(240deg, rgb(138, 74, 10), rgb(182, 121, 6));
    width: 20rem;
    height: 35rem;
    border-radius: 2rem;
    list-style-type: none;
    text-align: center;
    padding: 0 2rem;
    font-size: 1rem;
    color: white
    
}

.projects-content p{
    text-align: justify;
    text-shadow: 2px 2px 0 black;
    font-size: .8rem;
}

.projects-content h3{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 0 black;
}

.projects-content span{
    font-weight: 700;
}

.carousel-inner img{
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.education{
    
    padding: 5rem 10%;
    

}
.education h1{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom:  3rem;
    font-weight: 700;
}
.education-content{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    
}



.education-content img{
    width: 20rem;
    border-radius: 50%;
    
    
}

.grad-info{
    border-top:5px solid rgb(182, 121, 6) ;
    border-left: solid transparent;
    padding-top: 2rem;
}


.grad-info li{
    
    display: flex;
    justify-content: left;
    margin-bottom: 0;
   align-content: center;
}

.grad-info i{
    padding-right: 3rem;
    font-size: 2rem;
}

.grad-info p{
    margin-top: 1rem;
    font-size: 1rem;

    
}

.achievements{
    
    padding: 8rem 10%;
}

.achievements h1{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom:  3rem;
    font-weight: 700;
}

.achievements-content{
    display: flex;
    justify-content: center;
}
.achievements-content li{
    border: 4px solid rgb(138, 74, 10);
    width: 20rem;
    height: 30rem;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    padding: 0 1rem;
    font-size: 1.3rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 2rem;
    margin: 0 2rem 2rem 2rem;
}

.achievements-image img{
    width: 25rem;
  height: 10rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 4px solid rgb(138, 74, 10);
}

.achievements-content h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.achievements-content p{
    font-size: .9rem;
    text-align: justify;
}

.achievements-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

}